{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    
    {{ include('navbar.html.twig') }}
    
        <div class="row">
            <div class="col-12 col-lg-10">
                <div class="card my-5">
                    <div class="card-header">
                        <h1>Edit Event.</h1>
                    </div>
                    
	                 <div class="p-3">  
	                    	{{ include('event/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
				</div>

                    <div class="card-footer "> 
                         <a class="text-dark" href="{{ path('event_index') }}">back to list</a>
                    </div>
            </div>
        </div>
    </div>

 {{ include('footer.html.twig') }}
{% endblock %}
