<div class="col-2 py-2 bg-white rounded h-50" style="border: 1px solid silver">
                <h5>Filter by Type:</h5>
                {% for event in events %}

                    <a href="{{ path('filter_result', {'result': event.type}) }}">{{ event.type }}</a>
                    <br>

                {% endfor %}   

</div>