<header class="row">
	<div class="col-lg-10">
		<nav class="navbar navbar-light bg-white mt-4 rounded" style="border: 1px solid silver">
			<a class="navbar-brand" href="{{ path('event_index') }}">BIGEVENTS <span class="sr-only">(current)</span></a>
			<span class="navbar-text text-right">The Global Event Management Company</span>
			
		</nav>	
	</div>
</header>