 <div class="col-4 col-lg-12 my-3 py-2 bg-white rounded" style="border: 1px solid silver">
                        <h5>Filter:</h5>
                            {% for event in events %}

                                <a href="{{ path('filter_result', {'result': event.type}) }}" class=" text-secondary">{{ event.type }}</a>
                                <br>

                            {% endfor %}   
                    </div>